.h1{
    margin-top: 200px;
    font-family: "Pacifico", cursive;
    margin-left: 43%;
    font-size: xx-large;
    color: green;
}
.h1-2{
    margin-top: 1px;
    font-family: "Pacifico", cursive;
    margin-left: 37%;
    font-size: xx-large;
    color: green;
}
.h1-3{
    font-family: "Pacifico", cursive;
    margin-left: 41%;
    font-size: xx-large;
    color: #e14a8a;
}
.h1-4{
    font-family: "Pacifico", cursive;
    font-size: 80px;
    color: #e14a8a;
}
.h1-5{
    margin-top: 30px;
    margin-left: 35%;
    font-family: "Pacifico", cursive;
    font-size: 30px;
    color: #5baddc;
}
body{
    align-content: center;
    justify-content: center;
        background-image: url("../img/backhome.png");
        background-repeat: no-repeat;
    background-size: cover;   
}

.list{
    margin-top: 30px;
    margin-left: 300px;
    display: flex;
    gap: 10px;
}

.item{
    width: 300px;
    height: 400px;

    background-size: cover;
    background-repeat: no-repeat;
}
.s{
    background-image: url("../img/masha4.png");
}

.v{
    background-image: url("../img/vira.png");
}

.m{
    background-image: url("../img/mam5.png");
}

.n{
    background-image: url("../img/nadia2.png");
}